body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(67, 11, 221);
    font-size: 40px;
}

.line {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}

.person-line{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid blue;
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    padding: 0 12px;
    cursor: pointer;
}

.allCount{
    
    height: 500px;
    background-color: rgb(224, 215, 42);
    padding: 20px;
}

.personsCards {
   
    border-right-color: yellowgreen;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.persons {
    color: black;
    width: 300px;
    height: 200px;
    background-color: rgb(228, 102, 102);
    padding: 20px;
    border: 6px solid rgb(244, 87, 62);
    border-radius: 20px;
    cursor: pointer;
}

.persons:hover {
    background-color: rgb(212, 248, 32);
    border: 6px solid rgb(245, 212, 2);
}

